
header{
    display: flex;
    justify-content: center;

    & .name{
        background: linear-gradient(to right, #17202a, #fe4800, #273746);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5vh;
        font-weight: bold;
    }
}
nav{
    display: flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    font-size: 5vh;
    color: whitesmoke
}

article{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    border-radius: 20px;
    background-color: #fdf7f717;
}

.text1{
    font-size: 3vh;
    line-height: 1.8;
}

.text1 p{
    color: whitesmoke;
}

/*Página de fotos*/
header{
    margin-top: 10vh;
}

.photos{
    display: flex;
    flex-direction: column;
}

.linha{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.linha img{
    width: 200px;
    height: auto;
    margin: 0 10px;
    border-radius: 20px;
    border-style: dashed;
    border-color: rgb(255, 255, 255);
}

.pag1{ 
    display: flex;
    background-color: #17202aa2;
    color: whitesmoke;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content:center;
    margin-top: 9vh;
} footer a{
    font-size: 5vh;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
